.main-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #d3d3d3; /* Color gris claro */
}

.title {
  font-size: 48px;
  color: #3e3b5b; /* Color morado oscuro */
}

.subtitle {
  font-size: 24px;
  color: #555;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.menu-button {
  background-color: #6a5acd; /* Morado */
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
  margin-left: 20px;
}

.menu-button:disabled {
  background-color: grey;
  color: white; /* Opcional: para que el texto contraste */
  cursor: not-allowed;
  opacity: 0.6; /* Opcional: para dar una apariencia más tenue */
}


.menu-button:hover {
  opacity: 0.9;
}
